<div class="popup-content">
    <span class="close-popup">&times;</span>
    <form id="loginform" action="{{ url_for('login') }}" method="POST" class="form-container">
        <h2>Inicia Sesión</h2>
        <div class="input-group">
            <input type="text" name="username or email" placeholder="Nombre de usuario o email" required>
        </div>
        <div class="input-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn"> Iniciar Sesión </button>
    </form>
</div>
